/* page_new */
#n5_3810 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

/* header */
#n5_3811 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.55px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 672px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 168px;
    left: calc(50% - 336px + 172px);
    top: 3699px;
}

/* Описание программы */
#n5_3812 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 306px;
    transform: translate(0px, 0.346666px);
    line-height: 32px;
    height: 32px;
    left: calc(50% - 153px + -11px);
    top: 3643px;
}

/* Frame 13448 */
#n5_3814 {
    width: 672px;
    height: 825px;
    overflow: visible;
    left: calc(50% - 336px + 172px);
    top: 978px;
}

/* Component 1 */
#n5_3815 {
    width: 672px;
    height: 55px;
}

/* line */
#nI5_3815-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3815-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3815-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3815-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3815-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 2 */
#n5_3816 {
    width: 672px;
    height: 55px;
    top: 55px;
}

/* hover */
#nI5_3816-5_184 {
    background: rgb(244, 244, 248);
    border-radius: 8px;
    left: -16px;
    right: -16px;
    bottom: 1px;
}

/* line */
#nI5_3816-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3816-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3816-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3816-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3816-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 3 */
#n5_3817 {
    width: 672px;
    height: 55px;
    top: 110px;
}

/* line */
#nI5_3817-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3817-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3817-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3817-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3817-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 4 */
#n5_3818 {
    width: 672px;
    height: 55px;
    top: 165px;
}

/* line */
#nI5_3818-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3818-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3818-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3818-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3818-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 5 */
#n5_3819 {
    width: 672px;
    height: 55px;
    top: 220px;
}

/* line */
#nI5_3819-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3819-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3819-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3819-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3819-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 6 */
#n5_3820 {
    width: 672px;
    height: 55px;
    top: 275px;
}

/* line */
#nI5_3820-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3820-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3820-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3820-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3820-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 7 */
#n5_3821 {
    width: 672px;
    height: 55px;
    top: 330px;
}

/* line */
#nI5_3821-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3821-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3821-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3821-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3821-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 8 */
#n5_3822 {
    width: 672px;
    height: 55px;
    top: 385px;
}

/* line */
#nI5_3822-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3822-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3822-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3822-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3822-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 9 */
#n5_3823 {
    width: 672px;
    height: 55px;
    top: 440px;
}

/* line */
#nI5_3823-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3823-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3823-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3823-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3823-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 10 */
#n5_3824 {
    width: 672px;
    height: 55px;
    top: 495px;
}

/* line */
#nI5_3824-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3824-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3824-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3824-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3824-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 11 */
#n5_3825 {
    width: 672px;
    height: 55px;
    top: 550px;
}

/* line */
#nI5_3825-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3825-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3825-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3825-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3825-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 12 */
#n5_3826 {
    width: 672px;
    height: 55px;
    top: 605px;
}

/* line */
#nI5_3826-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3826-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3826-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3826-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3826-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 13 */
#n5_3827 {
    width: 672px;
    height: 55px;
    top: 660px;
}

/* line */
#nI5_3827-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3827-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3827-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3827-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3827-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 14 */
#n5_3828 {
    width: 672px;
    height: 55px;
    top: 715px;
}

/* line */
#nI5_3828-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3828-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3828-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3828-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3828-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 15 */
#n5_3829 {
    width: 672px;
    height: 55px;
    top: 770px;
}

/* line */
#nI5_3829-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13438 */
#nI5_3829-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_3829-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_3829-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3829-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* table info */
#n5_3830 {
    width: 680px;
    height: 33px;
    overflow: visible;
    left: calc(50% - 340px + 168px);
    top: 945px;
}

/* legend */
#n5_3831 {
    overflow: visible;
    right: 2.35294%;
    bottom: 27.27%;
}

/* dropdown / XS */
#n5_3833 {
    width: 12px;
    height: 24px;
    overflow: visible;
    left: 607px;
}

/* dropdown */
#n5_3834 {
    font-family: "SF Pro Text";
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 24px;
    align-items: center;
    line-height: 18px;
    height: 24px;
    left: calc(50% - 12px + 0px);
    top: calc(50% - 12px + 0px);
}

/* Все программы */
#n5_3835 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 87px;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    height: 16px;
    left: 8px;
    top: 4px;
}

/* Популярность */
#n5_3836 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    left: 77.0588%;
    right: 11.3235%;
    top: 12.12%;
    bottom: 39.39%;
}

/* horizontal */
#n5_3837 {
    overflow: visible;
    left: 1.17647%;
    top: 96.97%;
}

/* line */
#n5_3838 {
    background: rgb(229, 229, 229);
    top: calc(50% - 0.5px + 0px);
    height: 1px;
}

/* Frame 13449 */
#n5_3839 {
    width: 672px;
    height: 225px;
    overflow: visible;
    left: calc(50% - 336px + 172px);
    top: 264px;
}

/* Общая оценка */
#n5_3840 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 200px;
    transform: translate(0px, 0.346666px);
    line-height: 32px;
    height: 32px;
    left: calc(50% - 100px + -236px);
}

/* 9,1 балла */
#n5_3841 {
    font-family: Arial;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(108, 205, 99);
    vertical-align: middle;
    justify-content: flex-start;
    width: 449px;
    transform: translate(0px, 0px);
    line-height: 112.5px;
    height: 110px;
    left: calc(50% - 224.5px + -111.5px);
    top: 56px;
}

/* Frame 13452 */
#n5_3844 {
    width: 663px;
    height: 249px;
    overflow: visible;
    left: calc(50% - 331.5px + 167.5px);
    top: 698px;
}

/* Актуальность рабочей программы */
#n5_3845 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 487px;
    transform: translate(0px, 0.346666px);
    line-height: 32px;
    height: 32px;
}

/* text */
#n5_3846 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 663px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 36px;
    left: calc(50% - 331.5px + 0px);
    top: 179px;
}

/* 9,4 балла */
#n5_3847 {
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(108, 205, 99);
    vertical-align: middle;
    justify-content: flex-start;
    width: 187px;
    transform: translate(0px, 0px);
    line-height: 46.875px;
    height: 46px;
    left: calc(50% - 93.5px + -238px);
    top: 56px;
}

/* Относительная популярность среди всех программ */
#n5_3848 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 468px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 21px;
    left: calc(50% - 234px + -97.5px);
    top: 142px;
}

/* Frame 13454 */
#n5_3849 {
    width: 663px;
    height: 249px;
    overflow: visible;
    left: calc(50% - 331.5px + 167.5px);
    top: 2273px;
}

/* Преподаватели */
#n5_3850 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 217px;
    transform: translate(0px, 0.346666px);
    line-height: 32px;
    height: 32px;
}

/* Component/Input */
#n5_3851 {
    height: 54px;
    overflow: hidden;
    right: 164px;
    top: 126px;
    bottom: 69px;
}

/* Atom/Input */
#n5_3852 {
    height: 54px;
    overflow: visible;
}

/* Rectangle */
#n5_3853 {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(218, 218, 218) 0px 0px 0px 1px inset;
}

/* DropBG */
#n5_3854 {
    right: 1px;
    width: 44px;
    top: 1px;
    bottom: 1px;
}

/* Icons/DropDown */
#n5_3855 {
    width: 24px;
    height: 24px;
    overflow: visible;
    right: 11px;
    top: 15px;
}

/* Vector */
#n5_3856 {
    left: 25%;
    right: 25%;
    top: 35.79%;
    bottom: 33.33%;
}

/* Филимонов Максим Николаевич */
#n5_3860 {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -1.03333px);
    line-height: 20px;
    height: 20px;
    left: 16px;
    right: 16px;
    top: 17px;
    bottom: 17px;
}

/* Персональный рейтинг */
#n5_3861 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 212px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 21px;
    left: calc(50% - 106px + -225.5px);
    top: 89px;
}

/* 8,6 балла */
#n5_3862 {
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(108, 205, 99);
    vertical-align: middle;
    justify-content: flex-start;
    width: 187px;
    transform: translate(0px, 0px);
    line-height: 46.875px;
    height: 46px;
    left: calc(50% - 93.5px + -238px);
    top: 212px;
}

/* Frame 13468 */
#n5_3863 {
    width: 672px;
    height: 116px;
    overflow: visible;
    left: calc(50% - 336px + 172px);
    top: 2571px;
}

/* 6,2 */
#n5_3864 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 39px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 19.5px + -316.5px);
}

/* 8,1 */
#n5_3865 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 39px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 19.5px + -144.5px);
}

/* 7,6 */
#n5_3866 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 39px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 19.5px + 27.5px);
}

/* 7,2 */
#n5_3867 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 39px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 19.5px + 199.5px);
}

/* text */
#n5_3868 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 144px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 54px;
    left: calc(50% - 72px + -264px);
    top: 44px;
}

/* text */
#n5_3869 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 122px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 36px;
    left: calc(50% - 61px + -103px);
    top: 44px;
}

/* text */
#n5_3870 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 156px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 36px;
    left: calc(50% - 78px + 86px);
    top: 44px;
}

/* text */
#n5_3871 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 156px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 18px;
    left: calc(50% - 78px + 258px);
    top: 44px;
}

/* Frame 13477 */
#n5_3938 {
    width: 403px;
    height: 102px;
    overflow: visible;
    left: calc(50% - 201.5px + 37.5px);
    top: 2725px;
}

/* Капитализация выпускников */
#n5_3939 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 404px;
    transform: translate(0px, 0.346666px);
    line-height: 32px;
    height: 32px;
}

/* 8,1 балла */
#n5_3940 {
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(108, 205, 99);
    vertical-align: middle;
    justify-content: flex-start;
    width: 187px;
    transform: translate(0px, 0px);
    line-height: 46.875px;
    height: 46px;
    left: calc(50% - 93.5px + -108px);
    top: 56px;
}

/* Frame 13479 */
#n5_3948 {
    width: 672px;
    height: 116px;
    overflow: visible;
    left: calc(50% - 336px + 172px);
    top: 2867px;
}

/* 0,34 */
#n5_3949 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 55px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 27.5px + -308.5px);
}

/* 61% */
#n5_3950 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 57px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 28.5px + -135.5px);
}

/* 1.12 */
#n5_3951 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 55px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 27.5px + 35.5px);
}

/* text */
#n5_3952 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 144px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 54px;
    left: calc(50% - 72px + -264px);
    top: 44px;
}

/* text */
#n5_3953 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 151px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 90px;
    left: calc(50% - 75.5px + -88.5px);
    top: 44px;
}

/* text */
#n5_3954 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 145px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 108px;
    left: calc(50% - 72.5px + 80.5px);
    top: 44px;
}

/* Frame 13480 */
#n5_3955 {
    width: 680px;
    height: 218px;
    overflow: visible;
    left: calc(50% - 340px + 176px);
    top: 3059px;
}

/* Frame 13435 */
#n5_3956 {
    width: 672px;
    height: 495px;
    overflow: hidden;
    left: calc(50% - 336px + 4px);
    top: 33px;
}

/* Component 1 */
#n5_3957 {
    width: 672px;
    height: 55px;
}

/* line */
#nI5_3957-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3957-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3957-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3957-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3957-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3957-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 2 */
#n5_3958 {
    width: 672px;
    height: 55px;
    top: 55px;
}

/* line */
#nI5_3958-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3958-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3958-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3958-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3958-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3958-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 3 */
#n5_3959 {
    width: 672px;
    height: 55px;
    top: 110px;
}

/* line */
#nI5_3959-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3959-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3959-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3959-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3959-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3959-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 4 */
#n5_3960 {
    width: 672px;
    height: 55px;
    top: 165px;
}

/* line */
#nI5_3960-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3960-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3960-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3960-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3960-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3960-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 5 */
#n5_3961 {
    width: 672px;
    height: 55px;
    top: 220px;
}

/* line */
#nI5_3961-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3961-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3961-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3961-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3961-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3961-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 6 */
#n5_3962 {
    width: 672px;
    height: 55px;
    top: 275px;
}

/* line */
#nI5_3962-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3962-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3962-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(81, 196, 71);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3962-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3962-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3962-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(255, 65, 53);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 7 */
#n5_3963 {
    width: 672px;
    height: 55px;
    top: 330px;
}

/* line */
#nI5_3963-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3963-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3963-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(81, 196, 71);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3963-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3963-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3963-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(255, 65, 53);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 8 */
#n5_3964 {
    width: 672px;
    height: 55px;
    top: 385px;
}

/* line */
#nI5_3964-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3964-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3964-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(81, 196, 71);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3964-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3964-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3964-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(255, 65, 53);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 9 */
#n5_3965 {
    width: 672px;
    height: 55px;
    top: 440px;
}

/* line */
#nI5_3965-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_3965-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_3965-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(81, 196, 71);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_3965-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* Frame 13436 */
#nI5_3965-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_3965-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(255, 65, 53);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* table info */
#n5_3966 {
    width: 680px;
    height: 33px;
    overflow: visible;
    left: calc(50% - 340px + 0px);
    top: -20px;
}

/* legend */
#n5_3967 {
    overflow: visible;
    right: 2.35294%;
    bottom: 27.27%;
}

/* Ключевые навыки выпускника */
#n5_3971 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 168px;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    height: 16px;
    left: 8px;
    top: 24px;
}

/* Требуемые навыки на рынке труда */
#n5_3974 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    left: 51.7647%;
    right: 19.7059%;
    top: 72.73%;
    bottom: -21.21%;
}

/* horizontal */
#n5_3975 {
    overflow: visible;
    left: 1.17647%;
    top: 96.97%;
}

/* line */
#n5_3976 {
    background: rgb(196, 196, 196);
    top: calc(50% - 0.5px + 20px);
    height: 1px;
}

/* Frame 13453 */
#n5_4069 {
    width: 680px;
    height: 342px;
    overflow: visible;
    left: calc(50% - 340px + 168px);
    top: 1859px;
}

/* text */
#n5_4070 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 663px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 54px;
    left: calc(50% - 331.5px + -0.5px);
    top: 38px;
}

/* Frame 13435 */
#n5_4071 {
    width: 672px;
    height: 165px;
    overflow: hidden;
    left: calc(50% - 336px + 4px);
    top: 177px;
}

/* Component 1 */
#n5_4072 {
    width: 672px;
    height: 55px;
}

/* line */
#nI5_4072-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_4072-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_4072-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_4072-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_4072-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_4072-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_4072-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 2 */
#n5_4073 {
    width: 672px;
    height: 55px;
    top: 55px;
}

/* line */
#nI5_4073-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_4073-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_4073-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_4073-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_4073-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_4073-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_4073-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Component 3 */
#n5_4074 {
    width: 672px;
    height: 55px;
    top: 110px;
}

/* line */
#nI5_4074-5_185 {
    background: rgb(196, 196, 196);
    height: 0.5px;
}

/* Frame 13437 */
#nI5_4074-5_186 {
    width: 315px;
    height: 22px;
    overflow: visible;
    left: 344px;
    top: 16px;
}

/* text */
#nI5_4074-5_187 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 147px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13438 */
#nI5_4074-5_207 {
    width: 143px;
    height: 22px;
    overflow: visible;
    left: 516px;
    top: 16px;
}

/* text */
#nI5_4074-5_208 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 143px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* Frame 13436 */
#nI5_4074-5_202 {
    width: 659px;
    height: 22px;
    overflow: visible;
    top: 16px;
}

/* number */
#nI5_4074-5_203 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 300px;
    transform: translate(0px, -1.38667px);
    line-height: 22px;
    height: 22px;
}

/* table info */
#n5_4075 {
    width: 680px;
    height: 33px;
    overflow: visible;
    left: calc(50% - 340px + 0px);
    top: 124px;
}

/* legend */
#n5_4076 {
    overflow: visible;
    right: 2.35294%;
    bottom: 27.27%;
}

/* Тема дисциплины */
#n5_4080 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 100px;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    height: 16px;
    left: 8px;
    top: 4px;
}

/* Упоминания в Scopus */
#n5_4083 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    left: 77.0588%;
    right: 5.14706%;
    top: 12.12%;
    bottom: 39.39%;
}

/* Пополярность */
#n5_4084 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    left: 51.7647%;
    right: 36.6176%;
    top: 12.12%;
    bottom: 39.39%;
}

/* Min 2,2 */
#n5_4085 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    left: 51.7647%;
    right: 42.3529%;
    top: 72.73%;
    bottom: -21.21%;
}

/* Мax 39,8 */
#n5_4086 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    left: 60%;
    right: 32.6471%;
    top: 72.73%;
    bottom: -21.21%;
}

/* horizontal */
#n5_4087 {
    overflow: visible;
    left: 1.17647%;
    top: 96.97%;
}

/* line */
#n5_4088 {
    background: rgb(196, 196, 196);
    top: calc(50% - 0.5px + 20px);
    height: 1px;
}

/* За 2 года */
#n5_4089 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -0.826667px);
    line-height: 16px;
    left: 77.0588%;
    right: 15.2941%;
    top: 43.27%;
    bottom: 52.05%;
}

/* Популярность дисциплин рабочей программы */
#n5_4090 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 421px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 21px;
    left: calc(50% - 210.5px + -121.5px);
}

/* Frame 13450 */
#n5_4091 {
    width: 672px;
    height: 116px;
    overflow: visible;
    left: calc(50% - 336px + 172px);
    top: 469px;
}

/* 6,2 */
#n5_4092 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 39px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 19.5px + -316.5px);
}

/* 8,1 */
#n5_4093 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 39px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 19.5px + -144.5px);
}

/* 7,6 */
#n5_4094 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 39px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 19.5px + 27.5px);
}

/* 7,2 */
#n5_4095 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 39px;
    transform: translate(0px, 0px);
    line-height: 32.8125px;
    height: 32px;
    left: calc(50% - 19.5px + 199.5px);
}

/* text */
#n5_4096 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 144px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 72px;
    left: calc(50% - 72px + -264px);
    top: 44px;
}

/* text */
#n5_4097 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 122px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 54px;
    left: calc(50% - 61px + -103px);
    top: 44px;
}

/* text */
#n5_4098 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 156px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 54px;
    left: calc(50% - 78px + 86px);
    top: 44px;
}

/* text */
#n5_4099 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 156px;
    transform: translate(0px, 0px);
    line-height: 18.75px;
    height: 54px;
    left: calc(50% - 78px + 258px);
    top: 44px;
}

/* line */
#n5_4350 {
    background: rgb(196, 196, 196);
    left: calc(50% - 336px + 172px);
    width: 672px;
    top: 641px;
    height: 1px;
}

/* Frame 13447 */
#n5_4120 {
    width: 259px;
    height: 413px;
    overflow: hidden;
    left: calc(50% - 129.5px + -378.5px);
    top: 265px;
}

/* Frame 13482 */
#n5_4351 {
    width: 259px;
    height: 307px;
    overflow: hidden;
}

/* header */
#n5_4121 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.55px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 208px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 21px;
}

/* header */
#n5_4123 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.55px;
    color: rgb(0, 122, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 259px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 42px;
    top: 53px;
}

/* header */
#n5_4124 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.55px;
    color: rgb(0, 122, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 124px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 21px;
    top: 127px;
}

/* header */
#n5_4126 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.55px;
    color: rgb(0, 122, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 259px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 21px;
    top: 180px;
}

/* header */
#n5_4127 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.55px;
    color: rgb(0, 122, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 173px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 21px;
    top: 233px;
}

/* Rectangle 1417 */
#n5_4129 {
    background: rgb(255, 255, 255);
    left: calc(50% - 640px + 0px);
    width: 1280px;
    height: 232px;
}

/* Frame 13434 */
#n5_4130 {
    width: 1016px;
    height: 52px;
    overflow: visible;
    left: calc(50% - 508px + 0px);
    top: 20px;
}

/* Profile */
#n5_4131 {
    background-image: url("https://s3-alpha-sig.figma.com/img/4683/a8a6/5e721c2919a0fdbe7bc1405a9cfb72dc?Expires=1593388800&Signature=IIqCpIwl~nOENuX0957RUHtA2BQ82wTz7H9snZEeHMgT555KKlvlWilO4bYOcHaWY3lwcS2lI8FSGjQs1SwV~AoEgcTwnXQKjflnTwF-KQdvHRS2Zufj81J4xGDPbslzxHenNtrn6FD49UmNyCjoJK~hSz9eh1djKkhN4asZTxiK7rCWW0e2YFv84ujONj~-hSPqBusrNeV00J3P2OB5MeXPKYsbrvcXroVsqUWeYHxrTxVzuaryoP1cMJDJUO8Q7JCTT3I7iWEHivVhDTIZqMKltWFjQXTff9OqMMA7NJ6HwzrUvtISLezi8~Y8Bnx9VwuNAx-mJjp5aTsEqQ0eZA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
    width: 34px;
    height: 34px;
}


/* ДГТУ */
#n5_4133 {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 36px;
    transform: translate(0px, -0.68px);
    line-height: 18px;
    height: 18px;
    top: 34px;
}

/* / */
#n5_4134 {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 4px;
    transform: translate(0px, -0.68px);
    line-height: 18px;
    height: 18px;
    left: 44px;
    top: 34px;
}

/* Программы */
#n5_4135 {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: rgb(142, 142, 147);
    vertical-align: middle;
    justify-content: flex-start;
    width: 78px;
    transform: translate(0px, -0.68px);
    line-height: 18px;
    height: 18px;
    left: 56px;
    top: 34px;
}

/* Head */
#n5_4136 {
    width: 1016px;
    height: 104px;
    overflow: hidden;
    left: calc(50% - 508px + 0px);
    top: 112px;
}

/* Frame 13441 */
#n5_4143 {
    width: 705px;
    height: 58px;
    overflow: visible;
    top: 30px;
}

/* header */
#n5_4144 {
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.55px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 512px;
    transform: translate(0px, 2.93333px);
    line-height: 40px;
    height: 40px;
    top: 18px;
}

/* Frame 13446 */
#n5_4145 {
    width: 74px;
    height: 24px;
    overflow: visible;
}

/* Назад */
#n5_4146 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 122, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 52px;
    transform: translate(0px, 0px);
    line-height: 21.0938px;
    height: 21px;
    left: 21px;
    top: 1px;
}

/* Icons/ArrowCornerBack */
#n5_4147 {
    width: 24px;
    height: 24px;
}

/* Vector */
#nI5_4147-4_620 {
    right: 51.375%;
    top: 8.75%;
    bottom: 8.75%;
}
html {scroll-behavior: smooth;}
#n5_4120 * {cursor: pointer}